In [26]:
import pandas as pd
import numpy as np

In [37]:
df = pd.read_csv('output/output.csv')
df.head(1)

,id,tytul,cena,czynsz,kaucja,adres,powierzchnia,pokoje,ogrzewanie,piętro,...,winda,rodzaj_zabudowy,okna,bezpieczeństwo,wyposażenie,opis,dodano,aktualizacja,link,scraped_date
0,65806843,Dwupokojowe mieszkanie w miasteczku Wilanów,5 900 zł,1 100 zł,10 000 zł,"Powsinek, Wilanów, Warszawa, mazowieckie",63.0,2,miejskie,parter/4,...,tak,apartamentowiec,drewniane,teren zamknięty monitoring / ochrona,zmywarka lodówka meble piekarnik kuchenka tele...,Dwupokojowe mieszkanie do wynajęcia w miastecz...,21.08.2024,21.08.2024,https://www.otodom.pl/pl/oferta/dwupokojowe-mi...,2024-08-21

In [30]:
df['dodatkowe_informacje']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
3995   NaN
3996   NaN
3997   NaN
3998   NaN
3999   NaN
Name: dodatkowe_informacje, Length: 4000, dtype: float64